/*.loader {
    /*display: grid;
    grid-template-rows: 180px 250px;
    grid-template-columns: 440px;
    padding: 10px;
    border: 2px solid greenyellow;
}


.top {
    background: rgba(10, 193, 218, 0.521);
    border: 2px solid yellow;
    padding-left: 17px;
}

h2 {
    font-family: Tahoma;
    color: #fff;
    width: 190px;
}

.top p {
    color: #fff;
}

.acct {
    color: #fff;
}

h3 {
    font-family: Verdana;
    font-size: small;
}

input[type="text"],
input[type="password"] {
    display: block;
    border: none;
    outline: none;
    border-radius: 3px;
    background: blue;
    margin: 12px;
    margin-left: 34px;
    color: #fff;
    width: 178px;
}

.foot {
    display: inline-block;
    margin-right: 13px;
}

.btn {
    display: block;
    margin: 0 0 0 23px;
}*/